#createPostForm{
    margin-top:15px;
}
.wrapper{
    width:650px;
    height:max-content;
    margin:10px auto;
}
#createPostHeading{
    color:#6990f2;
}
#imgPreview{
    display:flex;
    align-items: center;
    justify-content: center;
    overflow-x:auto;
    border-radius:5px;
    height:200px;
}
.imgBox{
    height:90%;
    min-width:96%;
    
}
.p{
    font-size:15px;
    margin-top:15px;
    color:#6990f2;
}
.addImg{
    flex-direction: column;
}
.caption{
    width:100%;
    height:100px;
    border-radius: 5px;
    background: #e9f0ff;
    border:none;
    padding:3px;
    resize:none;
    overflow-y:scroll;
}
.caption:focus{
    outline:none;/* to remove border around input box when the inout box is chosen*/
}
.formatBtn{
    display:flex;
    align-items: center;
    justify-content: end;
}
.searchBox{
    width:100%;
}

#createSearchBar{
    border:none;
    background: none;
    outline: none; 
    width:84.66%;  
}
#createSearchBtn{
    height:40px;
    cursor: pointer; 
}
/* .searchResultsRow{
    display:none;
} */
.searchResults{
    display:flex;
    width:100%;
    max-height:150px;
    overflow-y:auto;
    list-style: none;
    padding-left:3px;
    padding-top: 5px;
    /* opacity: 0;
    pointer-events: none; */
}
.searchbarRow{
    height:40px;
}
.searchResultsRow{
    height:150px;
}
.searchResultsOption{
    padding-bottom: 10px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 3px;
    padding-left:10px;
    /* display: none; */
}
.searchResultsOption:hover{
    background: #f0efef;
}
/* only when we show search results  */
.searchBarBox {
    border-bottom: none;
    border-radius: 9px 9px 0px 0px;
}
/* ends here */
.searchResults{
    border:solid 1px #d3d3d3;
    box-sizing: border-box;
    border-top: none;
    border-radius: 0 0 9px 9px;
}
/* add in main */
.font30{
    font-size:30px;
}
.font15{
    font-size:15px;
}
.color{
    color:#6990f2;
}
.borderdashed{
    border:2px dashed #6990f2;
}
.border10{
    border-radius: 10px;
}
.border5{
    border-radius: 5px;
}
.flexColumn{
    flex-direction: column;
}
.borderThin{
    border:solid 1px #d3d3d3;
    box-sizing: border-box;
}
.disabled{
    background: rgb(240, 240, 240);
    cursor:not-allowed;
}
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-44 { font-size: 44px; }
.material-icons.md-blue {color:#6990f2;}
.material-icons.md-25 {font-size:50px;}
.material-icons.md-30 {font-size:30px;}
.material-icons.md-17 {font-size:17px;}
/*  */