.bara{
    height:300px;
    width:100%;
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction: column;
}
.pageName{
    font-size:50px;/*chnaged here*//* ##### */
    color:white;/* ##### */
    margin-left:2.3%;/*check  this*/
    margin-top:50px;
}
#lineFont{
    font-size:15px;
    margin-top:0px;
}

#displayArea{
    height:max-content;
    border-radius:10px;/* ##### */
    margin-top:-100px;
    background-color: white;;/* ##### */
    box-shadow:0 0 20px rgb(41, 38, 38);/*chnaged*/
}

/* css for tag heading */
#tagHeading{
    font-size:30px;;/* ##### */
}
/* css for taggedpost section */
#tagRow{
    margin-bottom:25px;
}

/* testing designs */

#TagCol{
    display: flex;
    overflow-x:auto;
}
.box{
    height:150px;
    min-width:200px;
    margin-right:20px;
    border-radius:8px;/* ##### */
    border:solid 1px black;/* ##### */
    box-sizing: border-box;/*changed here*//* ##### */
}


/* testing ends here */
/* this is the css for the tag post box */
/* css for image post section */
.imgPost{
    height:max-content;/* do max content */
    border-radius:10px;/* ##### */
    
}
/* css for stock price section */
.stockPrice{
    height:500px;/* do max content */
    border-radius:10px;/* ##### */
    background-color:  #F9F0C1;
}


.headings{
    font-size:17px;
}
/* dont know where this is used */
.a{
    height:30px;
}
/*dont know why this is happening */
#search{
    background-color: white;
    border:none;
}
#searchBar{
    border:none;
}
/* ends here */

/* style testing */
.stylebar{
    height:50px;
    background-color: white;
}
.stylebar2{
    height:20px;
    background-color: rgb(195, 247, 165);
    border-radius: 20px;
}
.stylebar3{
    height:20px;
    background-color: rgb(241, 233, 155);
    border-radius: 20px;
}
.stylebar4{
    height:20px;
    background-color: rgb(193, 166, 245);
    border-radius: 20px;
}
.stylebar5{
    height:20px;
    background-color: white;
    border-radius: 20px;
}
/* emds here */
