.topBar{
    width:100%;
    height:300px;
    background-color: rgb(75, 2, 75);
    display:flex;
    align-items:center;
}
.title{
    justify-content:left;
    font-size: 80px;
}
.icon{
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    right:0px;
    top:110px;

}
.container{
    border-radius: 20px;
    margin-top:-30px;
    background-color: white;
    box-shadow:0 0 20px rgb(22, 21, 21);
}
.stylebar{
    height:50px;
    background-color: white;
}
.stylebar2{
    height:20px;
    background-color: rgb(195, 247, 165);
    border-radius: 20px;
}
.stylebar3{
    height:20px;
    background-color: rgb(241, 233, 155);
    border-radius: 20px;
}
.stylebar4{
    height:20px;
    background-color: rgb(193, 166, 245);
    border-radius: 20px;
}
.stylebar5{
    height:20px;
    background-color: white;
    border-radius: 20px;
}
.heading{
    font-size:40px;
}
.input{
    height:35px;
    border:solid 1px #d3d3d3;
    border-radius:20px;
    padding-left:10px;
    box-sizing: border-box;
}
.label{
    color:rgb(104, 101, 101);
    padding-left:10px;
    font-size:15px;
    box-sizing: border-box;
}
option{
    height:30px;
}
.radio{
    padding-left:10px;
}
.l{
    font-size:13px;
    color:rgb(104, 101, 101);
}
.button{
    border:none;
    background:none;
    height:50px;
    width:50px;
    border-radius: 25px;
    background-color: rgb(217, 250, 198);
}
.button:hover{
    width:60px;
    height:60px;
    border-radius: 30px;
    transition:width 1s,height 1s, border-radius 1s;
}
.material-icons.md-80{font-size:80px;}
.md-light{color:white;}
input:focus, textarea:focus, select:focus{
    outline: none;
}